@import url("header.css");
@import url("banner.css");
@import url("carrossel.css");
@import url("topicos.css");
@import url("contato.css");
@import url("rodapé.css");

:root {
    --cor-de-fundo: #b60000;
    --branco: #FFFFFF;
    --laranja: #000000;
    --azul-degrade: linear-gradient(97.54deg, #9c1a25 35.49%, #8d0f0f 165.37%);
    --fonte-principal: "Poppins";
    --azul: #c75064;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}